<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- COMENTARIOS CTRL+K+C -->
    <!-- AQUI SE DEBE CAMBIAR EL METODO POR GET O POST COMO SE REQUIERA -->
    <form action="/producto/save" method="POST">
        <label for="">Código</label><input type="text" name="codigo">
        <label for="">Nombre</label><input type="text" name="nombre">
        <label for="">Precio</label><input type="text" name="precio">
        <input type="submit">
    </form>
</body>
</html>